#PrimaryView{
    width: 100%;
    height: 60%;
    background: url("https://occ-0-3267-3852.1.nflxso.net/dnm/api/v6/6AYY37jfdO6hpXcMjf9Yu5cnmO0/AAAABcyzfe1a84-1M0eUKWQELfwkU_Ob0E6VqHYT9KIMaZYh9NHZ4VxS6f3v2VAeqo6-UboptNQm6Pj-mA-74hhoAZwxXLiP.jpg?r=fb8");
}   